body{
  padding: 0px;
  margin: 0px;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;;
}

.container{
  width: 375px;
  padding: 20px;
  background-color: white;
  margin: auto;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img{
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

h1{
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  text-align: center;
}

p{
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  text-align: center;
}
